:root {
    --root_blue: 81,182,255;
    --root_pink: 222,49,99;
    --text_primary: 63,65,77;
    --text_secondary: 119,125,116;
    --background_secondary: rgba(236, 233, 233, 0.233);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.router-link-active span {
    color: rgb(var(--root_pink));
}

.btn:focus, [role="button"], input, textarea, select {
    outline: none !important;
    box-shadow: none !important;
}

a, a span {
    color: initial;
    font-weight: 400;
}

.btn.btn-outline-light {
    border: none;
}
.btn span {
    color: rgb(var(--text_primary));
}

.card {
    border: none !important;
}

.card-body {
    padding: .7rem .2rem !important;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-username {
    font-weight: 500;
}

.card-img:hover {
    opacity: .9;
    transform: translateY(-3px);
    transition: .2s;
}

.nav-link:hover {
    opacity: .9;
    transform: translateY(-1px);
    transition: .3s;
}

#detail img {
    max-height: 1000px;
    object-fit: contain;
    object-position: center;
}